/* Need to do an overhaul of the CSS. 
1. The font of the price/percent change is too hard to read, so I will either 
need to change the background color or the font color.
2. I want the boxes to be rounded
3. Maybe have the flash go a little faster. Maybe also have the refresh go a little faster
4. Center and beautify the input field where one adds the stock ticker
5. Make an error when an invalid stock ticker is input?
    a. tested this and if I just do random letters, it still creates a blank box, so def fix this
6. Create a graph feature where you can click into each box and it shows the stock graph of the past week
 */

#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.5s;
    background: #eee;
}

/* ColorClass section in the JS file */
.dark-red {
    color: #FF0000;
}

.red {
    color: #FFCCCC;
}

.gray {
    color: #808080;
}

.green {
    color: #CCFFCC;
}

.dark-green {
    color: #008000;
}

/* flashClass */
.red-flash {
    transition: background-color 1s;
    background-color: #ffcccc !important;
}

.green-flash {
    transition: background-color 1s;
    background-color: #ccffcc !important;
}

.gray-flash {
    transition: background-color 1s;
    background-color: #ccc !important;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}